<section id="about">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3>About Us</h3>
            <p>Solusi IT handal untuk semua skala bisnis.</p>
        </header>

        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <p>Kami adalah Perusahaan <b>konsultan IT</b> yang berkomitment untuk menjadi yang terdepan dalam
                    memberikan solusi teknologi di era digital.</p>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Optimisasi Infrastruktur IT</a></h4>
                    <p class="description">Mengelola infrastruktur IT agar berjalan efisien dan handal sepanjang waktu.
                    </p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">Pengembangan Aplikasi Terdepan</a></h4>
                    <p class="description">Membangun aplikasi yang inovatif dan efisien untuk memaksimalkan potensi
                        bisnis Anda.</p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">Konsultasi IT Personalized</a></h4>
                    <p class="description">Menyediakan solusi IT yang disesuaikan dengan kebutuhan dan tujuan bisnis
                        Anda.</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
                <img loading="lazy" src="{{ '@website/img/about-img.svg' | assets | url }}" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6" data-aos="fade-right">
                <img loading="lazy" src="{{ '@website/img/about-extra-1.svg' | assets | url }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
                <h4>Teknologi adalah jantung dari setiap bisnis modern.</h4>
                <p>
                    Dari konsultasi teknologi personal hingga pengembangan aplikasi canggih, Tecnofy hadir untuk
                    memenuhi kebutuhan unik bisnis Anda. Keamanan data yang tak tertandingi dan optimisasi infrastruktur
                    IT adalah komitmen kami untuk melindungi dan meningkatkan operasi Anda.
                </p>
                <p>
                    Jangan biarkan peluang terlewatkan. Percayakan masa depan teknologi bisnis Anda pada Tecnofy.
                    Hubungi kami hari ini untuk menemukan bagaimana kami dapat membantu Anda menggapai potensi penuh
                    dengan solusi IT yang inovatif dan andal.
                </p>
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img loading="lazy" src="{{ '@website/img/about-extra-2.svg' | assets | url }}" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
                <h4>Kami berkomitment untuk menjadi yang terdepan dalam memberikan solusi.</h4>
                <p>
                    Teknologi adalah kunci untuk mengatasi tantangan dan memecahkan masalah dalam bisnis. Tecnofy hadir
                    dengan solusi yang tidak hanya mengusir masalah, tetapi juga menciptakan kesempatan baru untuk
                    pertumbuhan dan inovasi.
                </p>
                <p>
                    Kami membantu mengidentifikasi dan mengatasi hambatan-hambatan yang mungkin menghambat kemajuan
                    bisnis Anda. Dengan pendekatan yang inovatif dan berorientasi pada hasil, kami memberikan solusi
                    yang efektif untuk memastikan bisnis Anda tetap berjalan lancar dan sukses.
                </p>
                <p>
                    Jangan biarkan masalah menghalangi potensi bisnis Anda. Percayakan pada Tecnofy untuk menyelesaikan
                    setiap rintangan dengan solusi yang cerdas dan terpercaya. Hubungi kami sekarang untuk mendapatkan
                    bantuan yang Anda butuhkan dalam menghadapi setiap tantangan dengan percaya diri dan sukses.
                </p>
            </div>

        </div>

    </div>
</section>