<section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3>Services</h3>
            <p>Tecnofy siap membantu Anda menemukan solusi IT terbaik yang membawa bisnis Anda ke level berikutnya.</p>
        </header>

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Profesionalisme</a></h4>
                    <p class="description">Partner Anda dalam mengatasi tantangan IT dengan dedikasi dan
                        profesionalisme.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <div class="icon"><i class="bi bi-card-checklist" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Kemajuan IT yang Terjamin</a></h4>
                    <p class="description">Kami mengutamakan keamanan, kualitas, dan keandalan dalam setiap solusi yang
                        kami hadirkan.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="icon"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Pengembangan Berkelanjutan</a></h4>
                    <p class="description">Kami menyediakan layanan yang mendukung pertumbuhan dan kemajuan bisnis Anda
                        secara berkelanjutan.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">Transparansi Bersama Tecnofy</a></h4>
                    <p class="description">Informasi yang jelas dan terbuka kepada
                        klien kami tentang progres, biaya, dan proses pengembangan.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="icon"><i class="bi bi-brightness-high" style="color: #d6ff22;"></i></div>
                    <h4 class="title"><a href="">Solusi-solusi inovatif</a></h4>
                    <p class="description">Kami menghadirkan pengembangan IT yang memungkinkan bisnis Anda untuk
                        mencapai potensi penuhnya.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <div class="icon"><i class="bi bi-calendar4-week" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="">Punctualitas</a></h4>
                    <p class="description">Dengan metodologi kerja yang efisien dan tim yang terorganisir,
                        kami memastikan proses kerja sesuai jadwal.</p>
                </div>
            </div>

        </div>

    </div>
</section>