<section id="team">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>Team</h3>
      <p>Tim kami terdiri dari individu-individu brilian dengan pengalaman di dunia teknologi.</p>
    </div>

    <div class="row justify-content-center">


      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img loading="lazy" src="/content/team/ilhamb.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>ILHAM B</h4>
              <span>Head of IT</span>
              <div class="social">
                <a target="_blank" href="https://www.instagram.com/il4gb/"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/il4mb/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img loading="lazy" src="/content/team/shodiq.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Said Shodiq Mufadhol</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a target="_blank" href="https://www.instagram.com/sshodiqm_"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/shodiq-mufadhol-612256172"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
        <div class="member">
          <img loading="lazy" src="/content/empty-avatar.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>