<section id="why-us">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Mengapa Memilih Tecnofy?</h3>
      <p>Memadukan keahlian dengan inovasi modern untuk menciptakan solusi IT terdepan.</p>
    </header>

    <div class="row row-eq-height justify-content-center">

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-calendar4-week"></i>
          <div class="card-body">
            <h5 class="card-title">Berpengalaman</h5>
            <p class="card-text">Dengan pengalaman bertahun-tahun, kami telah berhasil menangani berbagai tantangan
              dengan kecepatan dan ketepatan.</p>
            <a href="#" class="readmore">Read more </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-camera-reels"></i>
          <div class="card-body">
            <h5 class="card-title">Pengalaman Pengguna</h5>
            <p class="card-text">Kami memprioritaskan pengalaman pengguna yang optimal dalam setiap solusi yang kami
              kembangkan, memastikan kepuasan dan kenyamanan pengguna.</p>
            <a href="#" class="readmore">Read more </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">Efisien Sumber Daya</h5>
            <p class="card-text">Dengan Tecnofy, Anda dapat mengelola sumber daya IT secara efisien dan efektif,
              mengurangi beban kerja dan meningkatkan produktivitas.</p>
            <a href="#" class="readmore">Read more </a>
          </div>
        </div>
      </div>

    </div>

    <div class="row counters" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
          class="purecounter"></span>
        <p>Clients</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1"
          class="purecounter"></span>
        <p>Projects</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1"
          class="purecounter"></span>
        <p>Hours Of Support</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
          class="purecounter"></span>
        <p>Hard Workers</p>
      </div>

    </div>

  </div>
</section>